@import '../../shared/style/margin';
@import '../../shared/style/color';
@import '../../shared/style/effects';

.question-title {
    text-decoration: none;
    color: $dark-blue;
}

.question-title:hover {
    color: $light-blue;
}

mat-chip {
    font-size: 12px;
    border-radius: 10px;
    min-height: 26px;
}