<div class="margin-child-1-2 full-page-80" fxLayout="column">
    <app-search></app-search>

    <div>
        <h2> Learn, Share, Build </h2>
        <p> Each month, million developers come to qna2.xyz to learn and share their knowledge. </p>
        <p> Join the active developer community now ! </p>
    </div>

    <p>
        Explore
        <a routerLink="questions/popular-questions" class="margin-2-0" class="no-style-link blue">
           popular questions
        </a>
        or
        <a routerLink="questions/new-question" class="no-style-link blue">ask a new one </a>
    </p>
</div>