<div class="c-margin-child-1-2 c-full-page-80" fxLayout="column">
    <app-search></app-search>

    <div>
        <h2> Learn, Share, Build </h2>
        <p> Each month, thousands of developers come to qna2.xyz to learn and share their knowledge. </p>
        <p> Join the active developer community now ! </p>
    </div>

    <p>
        Explore
        <a class="c-link" routerLink="questions/popular-questions" >
           popular questions
        </a>
        or
        <a class="c-link" routerLink="questions/new-question">ask a new one </a>
    </p>
</div>