<div class="c-margin-child-1-2 c-full-page-80" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" >

  <div class="c-margin-child-1-0" fxFlex.gt-sm="65" fxLayout="column" >
    <app-search></app-search>

    <router-outlet (activate)="onCheckQuestionRoute()"></router-outlet>

    <p class="c-margin-2-0 line-height-3" *ngIf="!onNewQuestionPage" >
      Did not find what you need ? <a class="c-link" (click)="newQuestion()"> Ask your own question now ! </a>
    </p>
  </div>

  <div fxHide.lt-md="true">
    <app-questions-featured></app-questions-featured>
  </div>
</div>