<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-between " class="margin-child-1-2">

  <div fxFlex.gt-sm="65" fxLayout="column" class="margin-child-1-0">
    <app-search></app-search>

    <router-outlet (activate)="onCheckQuestionRoute()"></router-outlet>

    <p *ngIf="!onNewQuestionPage" class="margin-2-0">
      <br>
      Cannot find what you need?
      <a (click)="newQuestion()" class="no-style-link blue"> Ask your own question.</a>
    </p>
  </div>

  <div fxHide.lt-md="true">
    <app-questions-featured></app-questions-featured>
  </div>
</div>