<form [formGroup]="answerForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <h3>Your answer:</h3>
  <p>
    (support
    <a class="white-space" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
      markdown
    </a>
    syntax)
  </p>
  <mat-form-field appearance="outline">
    <textarea formControlName="newAnswer" matInput placeholder="Add your answer" rows="10">
    </textarea>
  </mat-form-field>

  <app-markdown-preview [content]="answerForm.value.newAnswer">
  </app-markdown-preview>

  <button type="submit" mat-raised-button> Submit </button>
</form>