<div class="footer" fxLayout="row" fxLayoutAlign="space-around start">
  <mat-list>
    <mat-list-item> Qna2 </mat-list-item>
    <mat-list-item> About us </mat-list-item>
    <mat-list-item> Press </mat-list-item>
    <mat-list-item> Work here </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item> Help </mat-list-item>
    <mat-list-item> Contact us </mat-list-item>
    <mat-list-item> FAQs </mat-list-item>
    <mat-list-item> Terms of use </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item> Get the app </mat-list-item>
    <mat-list-item> iOS app </mat-list-item>
    <mat-list-item> Android app </mat-list-item>
  </mat-list>

</div>