@import '../../shared/style/colors';

.footer {
    background-color: $c-light-blue;

    mat-list {
        mat-list-item {
            height: 32px;
        }

        mat-list-item:first-child {
            font-weight: bold;
        }
    }
}