<div class="c-margin-child-2-0">
    <h2>{{question.questionTitle}}</h2>
    <div fxLayout="row">
        <button mat-stroked-button (click)="voteQuestion(question._id, true)">+1</button>
        <button mat-stroked-button>
            {{question.questionVotes}} 
            <mat-icon>{{question.questionVotes >= 0 ? 'thumb_up_alt' : 'thumb_down_alt'}}</mat-icon>
          </button>
        <button mat-stroked-button (click)="voteQuestion(question._id, false)">-1</button>
    </div>

    <!-- question content -->
    <p class="question-content" markdown ngPreserveWhitespaces [data]="question.questionContent"></p>
    <div *ngIf="question.askedByUser._id == user._id">
        <button mat-raised-button (click)="deleteQuestion(question._id)">Delete</button>
        <button mat-raised-button (click)="onEditQuestion()" [disabled]="canEditQuestion">Edit</button>
    </div>

    <div *ngIf="canEditQuestion">
        <mat-form-field class="updated-question">
            <textarea matInput placeholder="New question" rows="10" #newQuestion></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button (click)="editQuestion(question._id, newQuestion.value)">Update</button>
            <button mat-raised-button (click)="onCancelEditQuestion()">Cancel</button>
        </div>
    </div>

    <mat-chip-list>
        <mat-chip class="c-pointer" *ngFor="let tag of question.tags">{{tag}}</mat-chip>
    </mat-chip-list>

    <mat-card>
        <mat-card-content>
            <div> Asked: {{question.createdAt | date: 'MMM d, y'}}</div>
            <div> By user: {{question.askedByUser.username}}</div>
        </mat-card-content>
    </mat-card>

    <h2> {{question.answers.length}} {{question.answers.length > 1 ? 'answers' : 'answer' }} </h2>

    <!-- Answer -->
    <div class="c-margin-child-2-0" *ngFor="let answer of question.answers">
        <mat-divider></mat-divider>

        <div class="c-margin-child-1-0">
            <!-- answer content -->
            <p markdown [data]="answer.answer"> </p>
            <mat-icon *ngIf="answer.isCorrectAnswer">check_circle</mat-icon>

            <div *ngIf="user._id == question.askedByUser._id">
                <button mat-raised-button *ngIf="!answer.isCorrectAnswer"
                    (click)="updateCorrectAnswer(question._id, answer._id, false)">
                    Mark as correct answer
                </button>
                <button mat-raised-button *ngIf="answer.isCorrectAnswer"
                    (click)="updateCorrectAnswer(question._id, answer._id, true)">
                    Mark as uncorrect answer
                </button>
            </div>

            <div *ngIf="answer.answeredByUser._id == user._id">
                <button mat-raised-button (click)="deleteAnswer(question._id, answer._id)">Delete</button>
                <button mat-raised-button (click)="onEditAnswer()" *ngIf="!canEditAnswer">Edit</button>
            </div>

            <mat-form-field *ngIf="canEditAnswer">
                <textarea matInput placeholder="New answer" rows="10" #newAnswer></textarea>
                <button mat-raised-button (click)="editAnswer(question._id, answer._id, newAnswer.value)">Edit</button>
                <button mat-raised-button (click)="onCancelEditAnswer()">Cancel</button>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <button mat-stroked-button (click)="voteAnswer(question._id, answer._id, true)">+1</button>
            <button mat-stroked-button>
                {{answer.answerVotes}} {{answer.answerVotes > 1 ? 'votes' : 'vote'}} </button>
            <button mat-stroked-button (click)="voteAnswer(question._id, answer._id, false)">-1</button>
        </div>

        <mat-card>
            <mat-card-content>
                <div> Answered:{{answer.createdAt | date: 'MMM d, y'}} </div>
                <div> By user: {{answer.answeredByUser.username}} </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>