<div class="c-full-page-80">
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-card class="c-padding-32 signup-form" fxLayout="column" fxLayoutAlign="center center">
      <button class="g-no-overlay nav-title" mat-button disableRipple="true" routerLink=""> qna2 </button>
      <h3>Sign up</h3>

      <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="username">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error
          *ngIf="signupForm.get('username').invalid && (signupForm.get('username').dirty || signupForm.get('username').touched)">
          Username required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)">
          Invalid email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error
          *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)">
          Password required (min 6 char)
        </mat-error>
      </mat-form-field>

      <button class="c-margin-1-0" mat-raised-button type="submit" [disabled]="signupForm.invalid" >
        Sign up
      </button>
      <a class="c-link c-margin-2-0" routerLink="/auth/signin" >Sign in instead</a>
    </mat-card>

    <a class="c-margin-1-0">Forgot password</a>
  </form>
</div>