.margin-2-2 {
    margin: 2% 2%;
}

.margin-2-1 {
    margin: 2% 1%;
}

.margin-2-0 {
    margin: 2% 0%;
}

.margin-1-2 {
    margin: 1% 2%;
}

.margin-1-1 {
    margin: 1% 1%;
}

.margin-1-0 {
    margin: 1% 0%;
}

.margin-child-2-2 > * {
    margin: 2% 2%;
}

.margin-child-2-1 > * {
    margin: 2% 1%;
}

.margin-child-2-0 > * {
    margin: 2% 0%;
}

.margin-child-1-2 > * {
    margin: 1% 2%;
}

.margin-child-1-1 > * {
    margin: 1% 1%;
}

.margin-child-1-0 > * {
    margin: 1% 0%;
}

.margin-child-0-1 > * {
    margin: 0% 1%;
}

.margin-child-0-2 > * {
    margin: 0% 2%;
}