.margin-2-2 > * {
    margin: 2% 2%;
}

.margin-2-1 > * {
    margin: 2% 1%;
}

.margin-2-0 > * {
    margin: 2% 0%;
}

.margin-1-2 > * {
    margin: 1% 2%;
}

.margin-1-1 > * {
    margin: 1% 1%;
}

.margin-1-0 > * {
    margin: 1% 0%;
}