@import './shared/style/full-page';
@import './shared/style/colors';
@import './shared/style/effects';
@import './shared/style/margin';
@import './shared/style/padding';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-title {
    font-size: 1.5em;
}

.divider {
    margin: 6px 12px;
}