@import './shared/style/full-page';
@import './shared/style/color';
@import './shared/style/effects';
@import './shared/style/margin';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.padding-top-128 {
    padding-top: 128px;
}

.padding-top-64 {
    padding-top: 64px;
}

.padding-top-32 {
    padding-top: 32px;
}

.nav-title {
    font-size: 1.5em;
}

.divider {
    margin: 6px 12px;
}