<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <nav fxLayout="column" fxLayoutAlign="center start" class="padding-top-32 margin-child-1-0">
            <button mat-button routerLink="questions/popular-questions" (click)="sidenav.close()">
                <mat-icon>trending_up</mat-icon>
                Popular
            </button>
            <button mat-button routerLink="questions/unanswered-questions" (click)="sidenav.close()">
                <mat-icon>flag</mat-icon>
                Unanswered
            </button>
            <button mat-button routerLink="questions/recent-questions" (click)="sidenav.close()">
                <mat-icon>update</mat-icon>
                Recent
            </button>
            <button mat-button routerLink="questions/tags" (click)="sidenav.close()">
                <mat-icon>local_offer</mat-icon>
                Tags
            </button>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
        <app-header class="header" *ngIf="!onUserAuthPage" (sidenavEvent)="sidenav.toggle()"> </app-header>
        <div [ngClass.gt-sm]="{'padding-top-128': true, 'padding-top-64': false}"
            [ngClass.lt-md]="{'padding-top-128': false, 'padding-top-64':true}" fxFlex>

            <router-outlet (activate)="onCheckAppRoute()"></router-outlet>
        </div>

        <app-footer class="footer" *ngIf="!onUserAuthPage"></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>