<div fxLayout="row">
    <div>
        <p>User name: --- </p>
        <p>Email: *** </p>
        <p>Member since: ---</p>
    </div>

    <div>
        <p>About me: --- </p>
    </div>
</div>

<div fxLayout="row">
    <div fxLayout="column">
        <p> Number of questions: --- </p>
        <ul> All questions: ---
            <li> --- </li>
        </ul>
    </div>
    <div fxLayout="column">
        <p> Number of answers: --- </p>
        <ul> All answers: ---
            <li> --- </li>
        </ul>
    </div>
</div>