@import '../../shared/style/color';
@import '../../shared/style/effects';

.header {
    .top-toolbar {
        background-color: $dark-blue;
    }

    .bottom-toolbar {
        background-color: $light-blue;
    }
}

.nav-title {
    font-size: 1.5em;
}
