<mat-toolbar class="header">
  <mat-toolbar-row class="top-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-icon-button (click)="toggleSidenav()" fxHide.gt-sm="true">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="g-no-overlay nav-title white-font" mat-button disableRipple="true" routerLink="">
        qna2
      </button>
    </div>

    <nav *ngIf="!(isAuthenticated$ | async)">
      <button class="white-font" mat-button routerLink="auth/signin"> Sign in </button>
      <button class="white-font white-border" mat-stroked-button routerLink="auth/signup"> Sign up </button>
    </nav>

    <nav *ngIf="(isAuthenticated$ | async)">
      <button class="white-font" mat-button routerLink="user/me"> My account </button>
      <button class="white-font white-border" mat-stroked-button (click)="onSignout()"> Sign out </button>
    </nav>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottom-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md="true" >
    <nav>
      <button mat-button routerLink="questions/popular-questions">
        <mat-icon>trending_up</mat-icon>
        Popular
      </button>
      <button mat-button routerLink="questions/unanswered-questions">
        <mat-icon>flag</mat-icon>
        Unanswered
      </button>
      <button mat-button routerLink="questions/recent-questions">
        <mat-icon>update</mat-icon>
        Recent
      </button>
      <button mat-button routerLink="questions/tags">
        <mat-icon>local_offer</mat-icon>
        Tags
      </button>
    </nav>

    <nav>
      <button mat-button routerLink="user/list">By users</button>
      <button mat-button routerLink="user/list">Top contributors</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>