<mat-toolbar class="header">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="top-toolbar">
    <nav>
      <button mat-button routerLink="/">QnA2</button>
    </nav>

    <!-- <nav *ngIf="!(isAuthenticated$ | async)"> -->
    <nav *ngIf="!(isAuthenticated)">
      <button mat-button routerLink="/signin"> Sign in </button>
      <button mat-button routerLink="/signup"> Create account </button>
    </nav>

    <!-- <nav *ngIf="(isAuthenticated$ | async)"> -->
    <nav *ngIf="(isAuthenticated)">
      <button mat-button routerLink="/user"> User page </button>
      <button mat-button (click)="onSignout()"> Sign out </button>
    </nav>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottom-toolbar">
    <nav>
      <button mat-button routerLink="questions">
        <mat-icon>trending_up</mat-icon>
        Popular
      </button>
      <button mat-button routerLink="questions/unanswered-questions">
        <mat-icon>flag</mat-icon>
        Unanswered
      </button>
      <button mat-button routerLink="questions/recent-questions">
        <mat-icon>update</mat-icon>
        Recent
      </button>
      <button mat-button routerLink="questions/tags">
        <mat-icon>local_offer</mat-icon>
        Tags
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>