@import '../../shared/style/colors';
@import '../../shared/style/effects';

.header {
    .top-toolbar {
        background-color: $c-dark-blue;
    }

    .bottom-toolbar {
        background-color: $c-light-blue;
    }
}

.nav-title {
    font-size: 1.5em;
}

.white-font {
    color: #ffffff;
}
