@import '../../shared/style/margin';
@import '../../shared/style/effects';

.question-title {
    text-decoration: none;
    color: rgb(15, 135, 233);
}

.question-title:hover {
    color: rgb(103, 171, 233);
}