<div class="c-margin-child-1-0" *ngFor="let question of questions">
  <mat-divider></mat-divider>
  <a class="c-link question-title" [routerLink]="['/questions/question-details', question._id]">
    {{question.questionTitle}}
  </a>

  <div fxLayout="row">
    <button mat-stroked-button>
      {{question.questionVotes}} {{question.questionVotes > 1 ? 'votes' : 'vote' }}
    </button>
    <button mat-stroked-button>
      {{question.answers.length}} {{question.questionVotes > 1 ? 'answers' : 'answer' }}
    </button>
  </div>

  <div> Asked: {{question.createdAt  | date: 'MMM d, y'}}</div>
  <div> Asked by: {{question.askedByUser.username}}</div>

  <mat-chip-list>
    <mat-chip class="c-pointer" *ngFor="let tag of question.tags">{{tag}}</mat-chip>
  </mat-chip-list>
</div>