@import '../../shared/style/margin';
@import '../../shared/style/colors';
@import '../../shared/style/effects';
@import '../../shared/style/padding';

mat-chip {
    font-size: 12px;
    border-radius: 10px;
    min-height: 26px;
}