<div class="full-page-80">
  <h2> Ask your question</h2>
  
  <p>
    Your question with tag(s) (support
    <a class="white-space" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
      markdown
    </a>
    syntax)
  </p>
  
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field>
      <input matInput type="text" formControlName="questionTitle" placeholder="Question title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput type="text" formControlName="questionContent" placeholder="Your question content" rows="10">
          </textarea>
    </mat-form-field>
  
    <app-markdown-preview [content]="questionForm.value.questionContent">
    </app-markdown-preview>
  
    <mat-form-field>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
  
        <input placeholder="tag(s)" [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  
    <button class="c-margin-2-0" type="submit" mat-raised-button>Ask</button>
    <!-- <button type="button" (click)="newQuestionPanel.toggle()" mat-raised-button>Cancel</button> -->
  </form>
</div>