<div *ngFor="let question of questions">
  <div> Question:
    <a [routerLink]="['question-details', question._id]"> {{question.question}}</a>
    <button mat-raised-button>Edit</button>
  </div>

  <div>Asked by user: {{question.askedByUser}}</div>

  <div> Tags:
    <div *ngFor="let tag of question.tags; let i = index"> {{i+1}}. {{tag}} </div>
  </div>

  <div> Votes:
    <div> {{question.questionVotes}}</div>
    <button mat-raised-button>+1</button>
    <button mat-raised-button>-1</button>
  </div>

  <mat-divider></mat-divider>
</div>