<div>
    <!-- set type="button" to avoid submitting form accedentally... -->
    <button class="preview-button c-margin-1-0" [ngClass]="{'active': preview}" type="button" mat-raised-button
        (click)="preview = !preview">
        <!-- or use property biding: [class.active]="preview"> -->
        <!-- toggle the "active" class on/off with 'preview' property -->

        {{preview? 'Hide preview' : 'Show preview'}}
    </button>

    <div class="preview-content" markdown [data]="content" *ngIf="preview && content"></div>
</div>