@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;

    body { 
        margin: 0; 
        font-family: "Roboto", "Helvetica Neue", "sans-serif"; 
    }
}

.g-no-overlay .mat-button-focus-overlay {
    background-color: transparent;
}

